.DS_Store
*.info
*.frm
*.MAD
*.MAI
*.CSM
*.CSV
*.ibd
*.dat
*.cache
*.00000001
*.opt
19-10/TP7/maria-2-TP7/aria_log_control
19-10/TP7/maria-2-TP7/ib_buffer_pool
19-10/TP7/maria-2-TP7/ib_logfile0
19-10/TP7/maria-2-TP7/ibdata1
19-10/TP7/maria-3-TP7/aria_log_control
19-10/TP7/maria-3-TP7/ib_buffer_pool
19-10/TP7/maria-3-TP7/ib_logfile0
19-10/TP7/maria-3-TP7/ibdata1
*.log
*.conf
19-10/TP7/maria-1-TP7/aria_log_control
19-10/TP7/maria-1-TP7/rsync_sst_complete
19-10/TP7/maria-1-TP7/ibtmp1
19-10/TP7/maria-1-TP7/ibdata1
19-10/TP7/maria-1-TP7/ib_logfile0
19-10/TP7/maria-1-TP7/ib_buffer_pool
26-10/TP8/mariadb/aria_log_control
26-10/TP8/mariadb/ib_buffer_pool
26-10/TP8/mariadb/ib_logfile0
26-10/TP8/mariadb/ibdata1
26-10/TP8/mariadb/ibtmp1
